
.crm-two-panel-page > table {
    width:100%;
    
}


.crm-dialog,
.crm-editor,
.crm-comment,
.crm-article-cardframe {
	
	margin:.5em auto;
	padding:.8em;
	max-width: 710px;
	
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.025);
}

.crm-comment-private {
	background-color: rgba(255,0,0,0.025);
}

.crm-comment-waiting .widget-richtext {
	opacity:.1;
}

.crm-logincreate-passwords {
	
	padding:2em .1em .5em 70px;
	background: transparent url(images/keys.png) no-repeat 0px 3em ;
}

.crm-mycontact-delivery-checkbox {
	margin:2em 0 1.5em 0;
	font-weight:bold;
}

.crm-logincreate-addresses {
	margin-top:2em;
}


/* container for search result items or card items in flow */
.crm-catalog-result {
	max-width: 730px;
	margin:.5em auto;
}



.crm-catalog-header,
.crm-catalog-searchresult,
.crm-catalogitem-searchresult,
.crm-privatesell-header {
	width: 650px;
	margin:.5em auto;
	padding:5px;
	border: 1px solid rgba(0,0,0,0.05);
	background-color: #fff;
	color:#000;
}

.crm-catalog-header {
	padding:5px;
	margin:0 auto 3px auto;
	border: 1px solid rgba(0,0,0,0.05);
	background-color: rgba(0,0,0,0.025);
}


.crm-catalog-articlecount {
	color:grey;
}



.crm-catalogitem-photocontainer-64 {
	width:80px;
	display:inline-block;
	text-align:center;
}

.crm-catalogitem-searchresult .widget-image {
	margin:.2em auto;
}

.crm-shopping-link-disabled, 
.crm-shopping-link {
	
	white-space:nowrap;
}



.crm-mycontact-logincreate-editor .widget-submitbutton
{
	margin-top:1em;
}

.crm-mycontact-logincreate-editor label {
	font-weight:bold;
}

.crm-mycontact-logincreate-editor .widget-radioset label {
	font-weight:normal;
}


.crm-mycontact-address {
	
	border:1px solid rgba(0,0,0,0.3);
	padding:.8em .8em 1.5em .8em;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background-color: rgba(255,255,255,0.2);
}


.crm-logincreate-informations {
	border:1px solid rgba(0,0,0,0.2);
	padding:.8em .8em 1.5em .8em;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.2);
}


.crm-mycontact-address .widget-title {
	
	font-weight:normal;
	font-family:Verdana;
	font-size:1.5em;
}

.widget-title {
	margin:.2em 0;
}

.widget-section {
	
	margin-top:1em;
}

.crm-buy-item {
	width:300px;
}

.crm-buy-item-multi {
	
}


.crm-catalogitem-unitcost .crm-price,
.crm-catalogitem-unitcost .crm-promo-price {
	font-size:2em;
	white-space:nowrap;
	
}

.crm-price-suffix {
	font-size:50%;
}


.crm-catalogitem-unitcost .crm-promo-price {
	color:red;
}

.crm-catalogitem-unitcost .crm-disabled-price .widget-label {
	text-decoration: line-through;
	color:#444;
}


.crm-shopping-link,
.crm-shopping-link-disabled {
	border: 1px solid rgba(0,0,0,0.08);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.035);
	padding:2px 8px;
	margin:.5em 0 0 0;
	
	display: -moz-inline-stack;
	display: inline-block;
	
	background-image: -webkit-linear-gradient(to bottom,#fff,#eee);
	background-image: -moz-linear-gradient(to bottom,#fff,#eee);
	background-image: -ms-linear-gradient(to bottom,#fff,#eee);
	background-image: -o-linear-gradient(to bottom,#fff,#eee);
	background-image: linear-gradient(to bottom,#fff,#eee);
}


.crm-shopping-link {
	color:#444;
}

.crm-shopping-link:hover {
	color:#000;
	border:#666 1px solid;
}


.crm-shoppingprocess-frame {
	background:#fff;
	border:#666 1px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000;
	padding:1.5em;
}

.crm-shoppingcart-loading {
	visibility:hidden;
	text-align:center;
}

.crm-shoppingcart-loading-on {
	visibility:visible;
}


.widget-toolbar {
	background:transparent;
}

.widget-toolbar .widget-icon {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color: #fbfbfb;
	border:#eee 1px solid;
	
	color:#000;
}

.widget-toolbar .widget-icon:hover {
	outline:none;
	background-color: #f6f6f6;
	border:#ddd 1px solid;
}


.crm-shop-edit-address {
	font-weight:bold;
	color:#555 !important;
	border:#bbb 1px solid;
	margin:.1em .3em;
	padding:1px 3px;
	background:#ddd;
	
	display: -moz-inline-stack;
	display: inline-block;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	font-size:9px;
}

.crm-shop-edit-address:hover {
	background:#eee;
}


.crm-shop-deliverybutton {
	color:#333 !important;
	
	border:#bbb 1px solid;
	margin:.1em .3em;
	padding:1px 3px;
	background-color: #fff;
	
	display: -moz-inline-stack;
	display: inline-block;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .1);
}


.crm-shop-deliverybutton:hover {
	background-color: #eee;
}


.crm-dialog-button {
	border:#ccc 1px solid;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color: #eee;
	
	background-image: -webkit-linear-gradient(to bottom,#fff,#eee);
	background-image: -moz-linear-gradient(to bottom,#fff,#eee);
	background-image: -ms-linear-gradient(to bottom,#fff,#eee);
	background-image: -o-linear-gradient(to bottom,#fff,#eee);
	background-image: linear-gradient(to bottom,#fff,#eee);
	
	display: -moz-inline-stack;
	display: inline-block;
	
	font-weight:bold;
	color:#000;
	
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}


.crm-dialog-button:hover {
	
	border:#999 1px solid;
	background-color: #dbeefd;
	
	background-image: -webkit-linear-gradient(to bottom,#fff,#dbeefd);
	background-image: -moz-linear-gradient(to bottom,#fff,#dbeefd);
	background-image: -ms-linear-gradient(to bottom,#fff,#dbeefd);
	background-image: -o-linear-gradient(to bottom,#fff,#dbeefd);
	background-image: linear-gradient(to bottom,#fff,#dbeefd);
}




.crm-catalogitem-cardframe,
.crm-catalog-cardframe {
	text-align:center;
	
	display: -moz-inline-stack;
	display: inline-block;
	
	overflow:auto;
	border:#ddd 1px solid;
	background-color: #fff;
	margin-right:6px;
	margin-bottom:4px;
}


.crm-catalogitem-cardframe {
	width: 215px;
	height:350px;
}

.crm-catalogitem-cardframe .widget-title {
	font-size:12px;
	font-family:Arial;
	text-align:left;
	padding:.5em .5em 0 .5em;
}

.crm-catalogitem-cardframe .widget-richtext {
	text-align:left;
	padding:0 .5em;
	font-size:11px;
	font-family:Arial;
}

.crm-catalogitem-searchresult .readmore,
.crm-catalogitem-cardframe .readmore {
	font-weight:bold;
	font-size:120%;
	margin:.4em 0;
	text-align:left;
}


.crm-catalogitem-searchresult .readmore a:hover,
.crm-catalogitem-cardframe .readmore a:hover {
	text-decoration:underline;
}


.crm-catalogitem-cardframe .photo-link {
	display: -moz-inline-stack;
	display: inline-block;
	height:150px;
	margin-top:10px;
}

.crm-catalogitem-cardframe .crm-catalogitem-unitcost {
	text-align:right;
	font-size:11px;
	padding:0 .5em;
	margin-bottom:0px;
}


.crm-catalogitem-cardframe .crm-catalogitem-unitcost {
	height:40px;
}

.crm-catalog-cardframe {
	width: 326px;
	height:250px;
}


.crm-display-label {
	font-weight:bold;
}


.adr, .addr {
    -moz-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    border-radius: 4px 4px 4px 4px;
    padding: 0 28px 2px 0;
}

.crm-alert {
	border:#ccc 1px solid;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color: #eee;
	
	background-image: -webkit-linear-gradient(to bottom,#fff,#eee);
	background-image: -moz-linear-gradient(to bottom,#fff,#eee);
	background-image: -ms-linear-gradient(to bottom,#fff,#eee);
	background-image: -o-linear-gradient(to bottom,#fff,#eee);
	background-image: linear-gradient(to bottom,#fff,#eee);
	
	display: -moz-inline-stack;
	display: inline-block;
	
	font-weight:bold;
	color:#de6565;
	
	padding:1em;
	margin:1em 4em;
	
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}





@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}




#crm_page_info {
	padding: 1em 2em 1em 2em;
	margin: 0 1em 1em 1em;
	color: #886;
	font-size: 125%;
	   
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

#crm_page_info .widget-layout-flow-item {
    vertical-align:middle;
}

.crm-captcha {
	padding:1em;
	margin:1em 0;
	
	border:rgba(0,0,0,0.3) 1px solid;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background-color: rgba(255,255,255,0.2);
}


.crm-small {
	font-size:80%;
}


.crm-shop-terms {
	height:400px;
	overflow:auto;
	padding:.5em;
	background:#fff;
	color:#000;
	border:#ccc 1px solid;
}


.crm-catalogitem-option-dialog .crm-editor {
	background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 1em 0.2em 0 1em;
    max-width: none;
    padding: 0;
}


.crm-catalogitem-option-dialog .loading {
	background:transparent url(images/ajax-loader.gif) no-repeat 50% 50%;
	height:110px;
	width:100%;
}

.crm-shoppingcart-steps span,
.crm-shoppingcart-steps a {
	color:#000;
	text-decoration:none;
}

.crm-shoppingcart-steps a:hover {
	text-decoration:underline;
}


.crm-shoppingcart-steps .widget-layout-hbox {
	margin:1.5em auto 5em auto;
	
}

.crm-shoppingcart-steps .widget-layout-hbox-item a,
.crm-shoppingcart-steps .widget-layout-hbox-item span {
	
	display:block;
	
	width:150px;
	text-align:center;
	padding-bottom:30px;
	
	background:#fff url(images/shoppingcart1.png) no-repeat 50% 100%;
}


.crm-shoppingcart-steps .widget-layout-hbox-item span,
.crm-shoppingcart-steps .widget-layout-hbox-item a {
	
	display:block;
	
	width:150px;
	text-align:center;
	padding-bottom:30px;
	
	background:#fff url(images/shoppingcart1.png) no-repeat 50% 100%;
}

.crm-shoppingcart-steps .widget-layout-hbox-item:first-child span,
.crm-shoppingcart-steps .widget-layout-hbox-item:first-child a {
	background-image:url(images/shoppingcart2.png);
}

.crm-shoppingcart-steps .widget-layout-hbox-item:last-child span,
.crm-shoppingcart-steps .widget-layout-hbox-item:last-child a {
	background-image:url(images/shoppingcart3.png);
}


.crm-shoppingcart-steps .widget-layout-hbox-item:last-child span,
.crm-shoppingcart-steps .widget-layout-hbox-item:last-child a {
	background-image:url(images/shoppingcart3.png);
}

.crm-shoppingcart-steps .widget-layout-hbox-item .crm-shoppingcart-currentstep {
	background-image:url(images/shoppingcart4.png);
	font-weight:bold;
}

.crm-shoppingcart-steps .widget-layout-hbox-item:first-child .crm-shoppingcart-currentstep {
	background-image:url(images/shoppingcart5.png);
}
	
.crm-shoppingcart-steps .widget-layout-hbox-item:last-child .crm-shoppingcart-currentstep {
	background-image:url(images/shoppingcart6.png);
}	
	
	
.crm-shoppingcart-buttons {
	text-align:center;
}



.crm-shoppingcart-tableview .widget-table-header .widget-table-row {
	background-color: #eee !important;
	
	background-image: -webkit-linear-gradient(to bottom, #fff, #eee);
	background-image: -moz-linear-gradient(to bottom, #fff, #eee);
	background-image: -ms-linear-gradient(to bottom, #fff, #eee);
	background-image: -o-linear-gradient(to bottom, #fff, #eee);
	background-image: linear-gradient(to bottom, #fff, #eee);
}


.crm-shoppingcart-tableview table {
	border-right:none;
}

.crm-shoppingcart-tableview .widget-table-header .widget-table-row > td:last-child,
.crm-shoppingcart-tableview .widget-table-body .widget-table-row > td:last-child {
	border-right: 1px solid #DDDDDD;
}

.crm-shoppingcart-tableview .widget-table-body .widget-table-row {
	background:#fefefe;
}

.crm-shoppingcart-tableview .widget-table-body .widget-table-row:hover {
	background:#fff;
}

.crm-shoppingcart-tableview input[type=text] {
	width:4em;
}

.crm-shoppingcart-tableview .widget-table-footer .widget-table-row {
	
	background-color: #fff !important;
}

.crm-shoppingcart-tableview .widget-table-footer .widget-table-row > td {
	border-bottom: 1px solid #eee;
    border-left: none;
    padding-top:.8em;
}

.crm-shoppingcart-tableview .widget-table-footer .widget-table-row > td:first-child {
	border-bottom: none;
}

.crm-shoppingcart-tableview {
	margin-bottom:1em;
}


.crm-shoppingcart-removeitem {
	
	margin:.5em auto;
	
	border:#ccc 1px solid;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	

	display: -moz-inline-stack;
	display: inline-block;
	
	color:#444;
	
	white-space:nowrap;
}

.crm-shoppingcart-removeitem:hover {
	color:#222;
	background-color: #eee;

	box-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .4);
	
}



.crm-catalog-displaymode {
	text-align:right;
}



.crm-comment-history {
	
	margin-top:.8em;
	border-top: 1px solid rgba(0,0,0,0.05);
	padding-top:.5em;
}

.crm-comment .widget-richtext {
	padding:.5em;
	margin:0;
	background:#fff;
	color:#222;
	
	border: 1px solid rgba(0,0,0,0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
	
	
.crm-articlepackaging-price {
	border: 1px solid rgba(0,0,0,0.05);
	background:rgba(0,0,0,0.02);
	padding:.5em;
	text-align:left;
}



.crm-shopping-hightlight{
	font-weight: bold;
}


.crm-circle {
	width:10px;
	height:10px;
	border-radius: 5px;
	display:inline-block;
}

.crm-shoppingcart-coupon {
	font-weight:normal !important;
}

.crm-strong {
	font-weight:bold;
}


.crm-catalogitem-search-results td {
	padding-right: 1em;
}

.crm-catalogitem-search-results .button {
	white-space:nowrap;
	
	border:#ccc 1px solid;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	background-color: #eee;
	display: inline-block;

	color:#000;
	padding:2px 6px;
	cursor:pointer;
	
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .2);
}



#crm-shopping-cart-totaldf {
	font-weight:normal;
}

#crm-shopping-cart-totalrawti,
#crm-shopping-cart-totalti {
	font-size:120%;
}

#crm-shopping-cart td.totalti {
	font-weight:bold;
}


.crm-catalog-result .widget-pageselector {
	text-align:right;
}


.crm-coupon-message {
	
	font-family:Arial;
	font-size:10px;
	
	color:#d44f5f !important;
	padding:0px 4px 0px 14px;
	margin:3px 0;
	display:inline-block;
	
	background:#fffef1 url(images/coupon-message.png) no-repeat 3px 50%;
	
	border:#ece7b8 1px solid;
	
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .1);
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



.crm-shoppingcart-recalculate {
	display:block;
	margin:-2em 0 1em auto;
	
}


.crm-article-edit-link {
	margin:1em;
}

.crm-article-attachements {
	margin:1.5em 0 0 0;
}

.crm-shoppingcart-quantity {
	width:4em;
}